@model GeoQuiz.Models.QuestionViewModel

@{
    string mistakeText = null;
    string mistake = TempData["Mistake"] as string;
    if (mistake != null)
    {
        mistakeText = mistake == "Timeout"
            ? $"You ran out of time!"
            : $"Wrong! That was flag of {mistake}";
    }

    double columns = 0, rows = 0;
    int currentChoice = 0;

    if (Model.Question != null)
    {
        // Caclulate grid size for answer choices
        double sqrt = Math.Sqrt(Model.Question.Choices.Length);
        columns = Math.Ceiling(sqrt);
        rows = Math.Ceiling(Model.Question.Choices.Length / columns);
    }

    bool gameOver = Model.Index >= Model.TotalQuestionsCount;
}

@if (!gameOver)
{
    <h3 class="text-center">What country does this flag belong to?</h3>
    <div class="col-sm-offset-4 col-sm-4">
        <img class="img-thumbnail" src="~/Content/Flags/@(Model.Question.QuestionString).png" />
    </div>
    <hr />

    <div>
        @for (int i = 0; i < rows; i++)
        {
            <div class="row text-center">
                @for (int j = 0; j < columns && currentChoice < Model.Question.Choices.Length; j++, currentChoice++)
                {
                    <div class="col-xs-@(12 / columns) hover-highlight answer-option">
                        <div onclick="submitAnswerAjax(@Model.Index, '@Model.Question.Choices[currentChoice]')">
                            @(Model.Question.Choices[currentChoice])
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="vcenter-parent"><div id="loading" class="col-sm-offset-4 col-sm-4 vcenter-this" style="transition:all 1s linear;opacity:0"></div></div>
    <div hidden id="game-over"></div>
}

<div hidden id="questionIndex">@(gameOver ? Model.Index - 1 : Model.Index)</div>
<div hidden id="correctAnswers">@Model.CorrectAnswers</div>
<div hidden id="wrongAnswers">@Model.WrongAnswers</div>
<div hidden id="correctStreak">@Model.CorrectStreak</div>
<div hidden id="reward">@Model.PointsReward</div>
@if (mistakeText != null)
{
    <div hidden id="mistake">@mistakeText</div>
}
