@model GeoQuiz.Models.QuestionViewModel

@{
    ViewBag.Title = "Quiz";
    string mistakeText = TempData["Mistake"] as string;
}

<div class="col-xs-offset-1 col-xs-10 well">
    <div class="row vdivide text-center">
            <div class="col-sm-2">Question @Model.Index / @Model.TotalQuestionsCount</div>
            <div class="col-sm-2">Correct: @Model.CorrectAnswers</div>
            <div class="col-sm-2">Wrong: @Model.WrongAnswers</div>
        @if (mistakeText != null)
        {
            <div class="col-sm-6">
                <div class="text-danger bg-danger img-rounded">
                        Wrong! It was flag of @mistakeText
                </div>
            </div>
        }
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10 well">
    <h2 class="text-center">Select flag of @Model.Question.QuestionString</h2>
    <hr />

    @for(int i=0; i<Model.Question.Choices.Length; i++)
    {
        <div class="col-xs-@(12/Model.Question.Choices.Length) text-center">
            @using (Html.BeginForm("Quiz", "Quiz"))
            {
                <input name="questionIndex" id="questionIndex" type="hidden" value="@Model.Index" />
                <input name="answer" id="answer" type="hidden" value="@Model.Question.Choices[i]" />
                <input class="img-thumbnail" type="image" src="~/Content/Flags/@(Model.Question.Choices[i]).png" name="submit" />
            }
        </div>
    }
</div>