@model GeoQuiz.Models.QuestionViewModel

@{
    ViewBag.Title = "Quiz";
    bool mistake = TempData.Peek("Mistake") != null;
}

<div class="col-xs-offset-1 col-xs-10 well">
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="#">Question @Model.Index / @Model.TotalQuestionsCount</a></li>
            <li><a href="#">Correct: @Model.CorrectAnswers</a></li>
            <li><a href="#">Wrong: @Model.WrongAnswers</a></li>
            <li class="pull-right @(mistake ? "" : "hidden")">
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        @(mistake ? $"Wrong! It was flag of {(TempData["Mistake"] as string)}" : "")
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10 well">
    <h2 class="text-center">Select flag of @Model.Question.QuestionString</h2>
    <hr />

    @for(int i=0; i<Model.Question.Choices.Length; i++)
    {
        <div class="col-xs-@(12/Model.Question.Choices.Length) text-center">
            @using (Html.BeginForm("Quiz", "Quiz"))
            {
                <input name="questionIndex" id="questionIndex" type="hidden" value="@Model.Index" />
                <input name="answer" id="answer" type="hidden" value="@Model.Question.Choices[i]" />
                <input class="img-thumbnail" type="image" src="~/Content/Flags/@(Model.Question.Choices[i]).png" name="submit" />
            }
        </div>
    }
</div>