@model GeoQuiz.Models.QuestionViewModel

@{
    ViewBag.Title = "Quiz";
    string mistakeText = TempData["Mistake"] as string;
}

<script>
    $(document).ready(function () {
        var bar = new ProgressBar.Line('#progressbar', {
            strokeWidth: 4,
            easing: 'easeInOut',
            duration: 1400,
            color: '#009688',
            trailColor: '#ccc',
            trailWidth: 1,
            svgStyle: { width: '100%', height: '100%' }
        });

        bar.animate(@Model.Index / @Model.TotalQuestionsCount);  // Number from 0.0 to 1.0
    });
</script>
<script>
    $(document).ready(function () {
        if (@((mistakeText != null).ToString().ToLower()))
        {
            var options = {
                content: "Wrong! It was flag of @mistakeText",
                timeout: 6000
            }

            $.snackbar(options);
        }
    });
</script>

<div class="col-xs-offset-1 col-xs-10 well">
    <div class="row vdivide text-center">
        <div class="col-sm-2">
            Question @Model.Index / @Model.TotalQuestionsCount
            <div id="progressbar" style="width:100%; height:8px"></div>
        </div>
        <div class="col-sm-2">Correct: @Model.CorrectAnswers</div>
        <div class="col-sm-2">Wrong: @Model.WrongAnswers</div>
        @if (mistakeText != null)
        {
            <div class="col-sm-6">
                <div class="text-danger bg-danger img-rounded">
                        Wrong! It was flag of @mistakeText
                </div>
            </div>
        }
    </div>
</div>

<div class="col-xs-offset-1 col-xs-10 well">
    <h2 class="text-center">Select flag of @Model.Question.QuestionString</h2>
    <hr />

    @for(int i=0; i<Model.Question.Choices.Length; i++)
    {
        <div class="col-xs-@(12/Model.Question.Choices.Length) text-center">
            @using (Html.BeginForm("Quiz", "Quiz"))
            {
                <input name="questionIndex" id="questionIndex" type="hidden" value="@Model.Index" />
                <input name="answer" id="answer" type="hidden" value="@Model.Question.Choices[i]" />
                <input class="img-thumbnail" type="image" src="~/Content/Flags/@(Model.Question.Choices[i]).png" name="submit" />
            }
        </div>
    }
</div>