@{ 
    string language = Session["Language"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    @Styles.Render("~/Content/css/bootstrap", "~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")
    @Scripts.RenderFormat(@"<script async src=""{0}""></script>", "~/bundles/bootstrap")
</head>
<body>
    <script>$(function () { $.material.init(); });</script>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action(nameof(MenuController.Index), MenuController.Nameof, new { lang = language })" class="navbar-brand" style="font-size:xx-large"><span class="glyphicon glyphicon-globe" id="geo-icon"></span> GeoQuiz</a>
            </div>
            <ul class="nav navbar-nav" style="float: right">
                <li>
                    <button id="language-button" class="navbar-link pull-right btn" type="button"><i class="material-icons">language</i></button>
                    <div id="language-box" class="well well-sm language-box">
                        <a href="@Url.Action(nameof(MenuController.Index), MenuController.Nameof, new { lang = "en" })"><img src="~/img/Flags/187.png" /></a>
                        <a href="@Url.Action(nameof(MenuController.Index), MenuController.Nameof, new { lang = "ru" })"><img src="~/img/Flags/143.png" /></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()        
    </div>

    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - SerGreen</p>
    </footer>
    <script>
        var languageButtonOn = false;
        var languageBox = $('#language-box');
        $('#language-button').click(function () {
            if (languageButtonOn) {
                $(this).css('transform', '');
                languageBox.css('transform', '');
            }
            else {
                $(this).css('transform', 'rotateY(180deg)');
                setTimeout(function () { languageBox.css('transform', 'translateX(-50%) rotateY(0deg)'); }, 130);
            }
            languageButtonOn = !languageButtonOn;
        });
    </script>
</body>
</html>